<div *ngIf="pokemon">
  <h2>{{ pokemon.name | uppercase }}</h2>
  <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}">

  <p><strong>ID:</strong> {{ pokemon.id }}</p>
  <p><strong>Altura:</strong> {{ pokemon.height }}</p>
  <p><strong>Peso:</strong> {{ pokemon.weight }}</p>

  <button routerLink="/">Volver</button>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Tipos</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let t of pokemon.types">{{ t.type.name }}</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Habilidades</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let a of pokemon.abilities">{{ a.ability.name }}</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Estadísticas</mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li *ngFor="let s of pokemon.stats">
          {{ s.stat.name }}: {{ s.base_stat }}
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
