<h2>Lista de Pokémon</h2>
<p>Total: {{ pokemons.length }}</p>

<div *ngIf="loading" class="spinner-container">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div *ngIf="!loading">
  <div class="toolbar">
    <button (click)="viewMode = 'cards'">Ver como Cards</button>
    <button (click)="viewMode = 'table'">Ver como Tabla</button>
  </div>

  <!-- Vista Cards -->
<div *ngIf="viewMode === 'cards'" class="card-view" [@fadeIn]>
  <div class="card" *ngFor="let p of pokemons">
    <a [routerLink]="['/pokemon', p.id]">
      <img [src]="p.image" alt="{{ p.name }}" width="80">
      <h3>{{ p.name }}</h3>
    </a>
  </div>
</div>


  <!-- Vista Tabla -->
  <div *ngIf="viewMode === 'table'">
    <table mat-table [dataSource]="pokemons" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let p">{{ p.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let p">
          <a [routerLink]="['/pokemon', p.id]">{{ p.name }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Imagen</th>
        <td mat-cell *matCellDef="let p">
          <img [src]="p.image" alt="{{ p.name }}" width="40">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'image']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'image']"></tr>
    </table>
  </div>
</div>
